{% for host in groups['all'] %}
{% if hostvars[host]['host_name'] is defined %}
{{hostvars[host]['host_name']}}
{% elif hostvars[host]['host_ip'] is defined %}
{{hostvars[host]['host_ip']}}
{% endif %}
{% endfor %}